<!DOCTYPE HTML>
<html>
<head> 
    <title>Project Youtube</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
	    <p>A small project made to:</p>
	    <ol>
	    <li>showcase technologies</li>
	    <li>configure and make use of queues/topics</li>
	    <li>consume a public service</li>
	    <li>create a lightweight application(with SpringBoot)</li>
	    </ol>
    </div>
    <div>
        <p>This app will:<br> make a Youtube Data API call to retrieve data, <br>Send the data through JMS as an XML string, <br>Edit the data, and <br>Push the edited data into a second queue</p>
    	<a href="/mainPage"><button type="button">Run project and view logs</Button></a>
    </div>
</body>
</html>